.Dashbord {
  background-color: white;
  width: 75vw;
  /* padding: 1rem; */
  /* padding-left: 35px; */
  /* margin-left: 0px; */
  margin-top: 20px;
  height: 95vh;
  border: 2px solid #774181;
  border-radius: 15px;
  position: relative;
  overflow: scroll;
}
.AdminRoomDetails {
  padding: 2.5rem;
}
#AdminAddRooms {
    display: flex;
    align-items: center;
    justify-content: center;
}
