.login_container{
    /* border: 2px solid black; */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    /* border-radius: 15px; */
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.signup_container{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
}
.right_collumnsignup{
    border-radius: 15px;
    background: url(./loginmain_bg.jpg);
    background-size: cover;
    width: 40%;
    height: 41rem;
    display: flex;
    justify-content: center;
}
.loginbgsignup{
    margin-left: 1rem;
    margin-top: 6rem;
    object-fit: cover;
    height: 25rem;
    border-radius: 15px;
}
.left_collumn{
    width: 50%;
    height: fit-content;
    border-radius: 10px;
}
.signin_form{
    width: 70%;
    margin: 5%;
    margin-left: 10%;
}
.form_title{
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.form_title2{
    text-align: center;
    color: rgb(52, 52, 52);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.login_google{
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    padding-bottom: 6px;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.login_google:hover{
    background-color: #774181;
    border: none;
    color: white;
}
.google_logo{
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.or_line{
    text-align: center;
    font-size: 1rem;
    opacity: 70%;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.form{
    margin-top: 20px;
}
.signinbtn{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    padding-bottom: 8px;
    padding-top: 6px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #774181;
    color: white;
}
.signinbtn:hover{
    color: white;
    background-color: #370040;
}
.create_new{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.create_new2{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: rgb(52, 52, 215);
    background-color: transparent;
    border: none;
}
#remember_me{
    margin-right: 4px;
}
.form-control{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border: 1px solid black;
    margin-top: 0px;
}