.right_collumn{
    /* margin-top: 2rem; */
    border-radius: 15px;
    background: url(./loginmain_bg.jpg);
    background-size: cover;
    /* padding: .8rem; */
    width: 40%;
    height: 31rem;
    /* background-color: rgb(237, 237, 237); */
}
.loginbg{
    margin-left: 2.5rem;
    margin-top: 3.5rem;
    object-fit: cover;
    height: 25rem;
    border-radius: 15px;
}
.left_collumn{
    width: 50%;
    height: fit-content;
    border-radius: 10px;
}
.TAlogo{
    max-height: 80px;
    align-items: flex-start;
}
.google_logo{
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.or_line{
    text-align: center;
    font-size: 1.3rem;
    opacity: 70%;
    margin-top: 20px;
}
.form{
    margin-top: 20px;
}
.forgot_password{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: rgb(52, 52, 215);
    background-color: transparent;
    border: none;
    float: right;
}
.remember{
    font-size: 16px;
    margin-top: 8px;
}
#remember_me{
    margin-right: 4px;
}
.form-control{
    border: 1px solid black;
    margin-top: 0px;
}
.eye{
    float: right;
    margin-right: 1rem;
    margin-top: -40px;
}